<p class="segment-header">Cost Learned Name Pts Effect</p>
{{#each developments as |development|}}
<div id={{development.name}}>
    <span class="cost">{{development.cost}}</span>
    {{#if development.learned}}
    <span class="learned">&#9745;</span>
    {{else}}
    <span class="learned">&#9744;</span>
    {{/if}}
    <span>{{development.name}}</span>
    <span class="points">{{development.points}}</span>
    <span>{{development.effect}}</span>
</div>
{{/each}}
{{!-- <p>Developments Learned: {{gamestate.developments}}</p> --}}