
{{!-- <div class="developments"> --}}
    {{!-- {{#each developments as |development|}} --}}
    <div class="{{this.dataValues.name}} {{this.dataValues.number}} row">
        <span class="col-1 cost">{{this.dataValues.cost}}</span>
        {{#if this.dataValues.learned}}
        <span class="learn learned col-1">&#9745;</span>
        {{else}}
        <span class="learn col-1">&#9744;</span>
        {{/if}}
        <span class="col-3 development">{{this.dataValues.name}}</span>
        <span class="col-1 points">{{this.dataValues.points}}</span>
        <span class="col-5 effect">{{this.dataValues.effect}}</span>
    </div>
    {{!-- {{/each}} --}}
    {{!-- <button class="development none devbutt">No development</button> --}}
{{!-- </div> --}}
{{!-- <p>Developments Learned: {{gamestate.developments}}</p> --}}