<p class="segment-header">Cost Learned Name Pts Effect</p>
{{#each developments as |development|}}
<p>{{development.cost}}{{development.learned}}{{development.name}}{{development.points}}{{development.effect}}</p>
{{/each}}
<p>Developments Learned: {{gamestate.developments}}</p>