
{{!-- <div class="developments"> --}}
    {{!-- {{#each developments as |development|}} --}}
    <div class={{development.name}}{{development.id}} "row">
        <span class="col-1 cost">{{development.cost}}</span>
        {{#if development.learned}}
        <span class="learned">&#9745;</span>
        {{else}}
        <span class="learned col-1">&#9744;</span>
        {{/if}}
        <span class="col-3 development">{{development.name}}</span>
        <span class="col-1 points">{{development.points}}</span>
        <span class="col-5 effect">{{development.effect}}</span>
    </div>
    {{!-- {{/each}} --}}
    {{!-- <button class="development none devbutt">No development</button> --}}
{{!-- </div> --}}
{{!-- <p>Developments Learned: {{gamestate.developments}}</p> --}}