<div class="segment-header row">
    <span class="col-7">Name</span>
    <span class="col-2">Amt</span>
    <span class="col-2">Val</span>
</div>
<div class="goods">
    {{#each goods as |good|}}
    <div class={{good.name}}{{good.id}}"row">
        <span class="good col-7">{{good.name}}</span>
        <span class="amount col-2">{{good.amount}}</span>
        <span class="value col-2">{{good.value}}</span>
    </div>
    {{/each}}
</div>
{{!-- <p>Total Trade Good Value: {{gamestate.goods}}</p> --}}