<p class="segment-header">Name Amount Value</p>
<div class="goods">
{{#each goods as |good|}}
<div class={{good.name}}{{good.id}}>
    <span class="good">{{good.name}}</span>
    <span class="amount">{{good.amount}}</span>
    <span class="value">{{good.value}}</span>
</div>
{{/each}}
</div>
{{!-- <p>Total Trade Good Value: {{gamestate.goods}}</p> --}}