
<div class="goods">
    {{!-- {{#each goods as |good|}} --}}
    <div class="{{this.dataValues.name}}{{this.dataValues.number}} row">
        <span class="good col-7">{{this.dataValues.name}}</span>
        <span class="amount col-2">{{this.dataValues.amount}}</span>
        <span class="value col-2">{{this.dataValues.value}}</span>
    </div>
    {{!-- {{/each}} --}}
</div>
{{!-- <p>Total Trade Good Value: {{gamestate.goods}}</p> --}}