<p class="segment-header">Name Working Needed Points</p>
<div class="monuments">
{{#each monuments as |monument|}}
<div class={{monument.name}}{{monument.id}}>
    <span class="build">{{monument.name}}</span>
    <span class="labor">{{monument.labor}}</span>
    <span class="needed">{{monument.needed}}</span>
    <span class="points">{{monument.points_first}}/{{monument.points_second}}</span>
</div>
{{/each}}
</div>
{{!-- <p>Global Monuments Completed: {{gamestate.monuments}}</p> --}}