<p class="segment-header">Name Working Needed Points</p>
{{#each monuments as |monument|}}
<div id="monuments">
    <div id={{monument.name}}>
        <span>{{monument.name}}</span>
        <span class="labor">{{monument.labor}}</span>
        <span class="needed">{{monument.needed}}</span>
        <span class="points">{{monument.points_first}}/{{monument.points_second}}</span>
    </div>
</div>
{{/each}}
{{!-- <p>Global Monuments Completed: {{gamestate.monuments}}</p> --}}