<div class="container">
    <div class="row">
        <div class="col-8">
            {{#each gamestates as |gamestate|}}
            <div id={{gamestate.user.name}}>
                <div class="container">
                    <div class="row">
                        <h3 class="col-8">Cory{{gamestate.user.name}}</h3>
                        <div class="cities build col-2">Cities: {{gamestate.cities}}</div>
                        <div class="citiesNeed col-2">Needed: {{gamestate.citiesNeed}}</div>
                    </div>
                    <div class="row">
                        <div class="col-5 container">
                            <h5>Developments: </h5>
                            {{> developments}}
                        </div>
                            <div class="col-4 container">
                                <h5>Monuments: </h5>
                                {{> monuments}}
                            </div>
                            <div class="col-3 container">
                                <h5>Goods: </h5>
                                {{> goods}}
                            </div>
                            <div class="row">
                                <span class="disasters col">Disasters: {{gamestate.disasters}}</span>
                                <span class="score col">Score: {{gamestate.score}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            <div class="col-2">
                <div id="dice-tray" class="container">
                    <div class="die container" id="1">2&#9792;/2&#127806;</div>
                    <div class="die container" id="2">2&#127994;1&#9760;</div>
                    <div class="die container" id="3">&#9823;&#9823;&#9823;</div>
                    <div class="die none container" id="4">4</div>
                    <div class="die none container" id="5">5</div>
                    <div class="die none container" id="6">6</div>
                    <div class="die none container" id="7">7</div>
                    <button class="done die none" id="8">Done</button>
                </div>
            </div>
            <div class="col-2">
                <div class="quick-reference">
                    <div>
                        <h4>Order of Play</h4>
                        <p>1. Roll dice and collect goods and food.</p>
                        <p>2. Feed cities and resolve disasters.</p>
                        <p>3. Build cities and/or monuments.</p>
                        <p>4. May buy a development.</p>
                        <p>5. Discard goods in excess of 6.</p>
                    </div>
                    <div>
                        <h4>Disasters</h4>
                        <p>No food - 1 per city unfed</p>
                        <p>1 skull - No effect</p>
                        <p>2 skulls - 2 unless have Irrigation</p>
                        <p>3 skulls - 3 for opponent unless have Medicine</p>
                        <p>4 skulls - 4 unless have Great Wall</p>
                        <p>5+ skulls - Lose all goods unless have Religion and then opponents
                            lose all goods</p>
                    </div>
                    <div>
                        <h4>Game End</h4>
                        <p>All monuments are built or</p>
                        <p>One player has 5 developments</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
