<div class="container">
    <div class="row">
        <div class="col-8">
            {{#if isMyTurn}}
            <h2>It Is your turn!</h2>
            {{ else }}
            <h2>Waiting for opponent</h2>
            {{/if}}
            {{#each gamestates as |gamestate|}}
            <div id={{gamestate.player.name}} class="player">
                <div class="container">
                    <div class="row">
                        <h3 class="col-6">{{gamestate.user.dataValues.name}}</h3>
                        <span class="build col-2">Cities: </span>
                        <span class="cities col-1">{{gamestate.cities}}</span>
                        <span class="col-2">Needed: </span>
                        <span class="citiesNeed col-1">{{gamestate.citiesNeed}}</span>
                    </div>
                    <div class="row">
                        <div class="col-7 container">
                            <h5>Developments: </h5>
                            <div class="developments">
                                <div class="row">
                                    <span class="col-1">Cost</span>
                                    <span class="col-1"></span>
                                    <span class="col-3">Name</span>
                                    <span class="col-1">Pts</span>
                                    <span class="col-5">Effect</span>
                                </div>
                                {{#each gamestate.developments as |development|}}
                                {{> developments development}}
                                {{/each}}
                            </div>
                        </div>
                        <div class="col-5">
                        <div class="container">
                            <h5>Monuments: </h5>
                            <div class="segment-header row">
                                <span class="col-7">Name</span>
                                <span class="col-2">Need</span>
                                <span class="col-3">Pts</span>
                            </div>
                            {{#each gamestate.monuments as |monument|}}
                            {{> monuments monument}}
                            {{/each}}
                            <span class="note">Great Wall prevents Invasion</span>
                        </div>
                        <div class="container">
                            <h5>Goods: </h5>
                            <div class="segment-header row">
                                <span class="col-7">Name</span>
                                <span class="col-2">Amt</span>
                                <span class="col-2">Val</span>
                            </div>
                            {{#each gamestate.goods as |good|}}
                            {{> goods good}}
                            {{/each}}
                        </div>
                        </div>
                        <div class="row">
                            <span class="col">Disasters: </span>
                            <span class="disasters col">{{gamestate.disasters}}</span>
                            <span class="col">Score: </span>
                            <span class="score col">{{gamestate.score}}</span>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="col-2">
            <div id="dice-tray" class="container">
                <div class="die container" id="die1"></div>
                <div class="die container" id="die2"></div>
                <div class="die container" id="die3"></div>
                <div class="die none container" id="die4">4</div>
                <div class="die none container" id="die5">5</div>
                <div class="die none container" id="die6">6</div>
                <div class="die none container" id="die7">7</div>
                <button class="done die none" id="die8">Done</button>
            </div>
        </div>
        <div class="col-2">
            <div class="quick-reference">
                <div>
                    <h4>Order of Play</h4>
                    <p>1. Roll dice and collect goods and food.</p>
                    <p>2. Feed cities and resolve disasters.</p>
                    <p>3. Build cities and/or monuments.</p>
                    <p>4. May buy a development.</p>
                    <p>5. Discard goods in excess of 6.</p>
                </div>
                <div>
                    <h4>Disasters</h4>
                    <p>No food - 1 per city unfed</p>
                    <p>1 skull - No effect</p>
                    <p>2 skulls - 2 unless have Irrigation</p>
                    <p>3 skulls - 3 for opponent unless have Medicine</p>
                    <p>4 skulls - 4 unless have Great Wall</p>
                    <p>5+ skulls - Lose all goods unless have Religion and then opponents
                        lose all goods</p>
                </div>
                <div>
                    <h4>Game End</h4>
                    <p>All monuments are built or</p>
                    <p>One player has 5 developments</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="ok container none">
    <div class="message"></div>
    <button type="submit" class="btn" id="okay">Ok</button>
</div>
<div class="announcement container none">
    <div class="message"></div>
</div>
<div class="resource container none">
    <div class="message"></div>
</div>
<form class="range container none">
    <div>
        <label for="rangeFinder" class="form-label message">How many food to sell?</label>
        <input type="range" class="form-range rangeFinder" min="0" max="2">
        <div class="row">
            <span class="col-1">0</span>
            <span class="col-9"></span>
            <span class="col-2 bar">2</span>
        </div>
        <button type="submit" class="btn btn-danger">Submit</button>
    </div>
</form>
<div class="choice container none">
    <div class="message">Which would you like from your die?</div>
    <div class="row">
        <button type="submit" class="yes btn col-4 btn-warning">Food</button>
        <button type="submit" class="no btn col-4 btn-warning">Labor</button>
    </div>
</div>
<div class="dropdown container none">
    <div class="message"></div>
    <div class="row">
        <select id="developmentsDropdown" class="col-8">
        </select>
        <div class="col-1"></div>
        <button type="submit" class="col-3" id="done">Done</button>
    </div>
</div>
<script src="/js/utilities.js"></script>
<script src="/js/dice.js"></script>
<script src="/js/development.js"></script>
<script src="/js/labor.js"></script>
<script src="/js/game.js"></script>
<script src="/js/turn.js"></script>
<script src="/js/index.js"></script>